html{
    background-color:rgb(70, 70, 223);
}

h1{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
    background-color: rgb(45, 43, 43);
    position:absolute;
    margin: 0;
    padding: 2.5PX;
    top:0;
    left:0;
    width: 100;
    }

a{
    color: rgb(239, 239, 222);
    text-decoration: none;
}

a:active {
    text-decoration: underline;
    color: chocolate;
}
.links{
    text-align-last: right;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 30px;
}

.mission{
    display: inline-block;
    margin: 15px;
    padding: 20px;
    font-size: 200%;
    color:burlywood;
    
}
.picture {
    display: inline-block;
    height: 170px;
    width: 170px;
    margin: 1%;
    padding: 10px;
           
  }

  footer {
    display: block;
    background-color: rgb(45, 43, 43);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 
  }



